# Dependencies
node_modules/

# Build
.next/
out/
dist/

# Test
coverage/
test-results/
.playwright/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Typescript
*.tsbuildinfo
next-env.d.ts
